<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>

    <style>
    table, th, td,tr {
      border: 1px solid black;
    }
    </style>
  </head>
  <body ng-controller="PhoneListController">
    <p>Hello, {{name}}!</p>
    <p>Total number of phones: {{phones.length}}</p>
  <ul>
    <li ng-repeat="phone in phones">
      <span>{{phone.name}}</span>
      <p>{{phone.snippet}}</p>
    </li>
  </ul>

  <table>
    <tr ng-repeat="i in [0,1,2,3,4,5,6,7]">
      <td ng-repeat="i in [0,1,2,3,4,5,6,7]" style="padding:10px">{{i+1}}</td>
    </tr>
  </table>

  <br/><br/>
  <input type="text" ng-model="cityName" />
  {{cityName}}<br/>
  <p ng-repeat="prediction in apiResponse.predictions">{{ prediction.description }}</p>

    <p>Odpowiedź API:
    {{apiResponse}}</p>

  </body>
</html>
