<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="PhoneListController">
  <br/><br/>
  <input type="text" ng-model="cityName" />
  {{cityName}}<br/>
  <p ng-repeat="prediction in apiResponse.predictions">{{ prediction.description }}</p>

    <p>Odpowiedź API:
    {{apiResponse}}</p>

  </body>
</html>
